header{
background-image:url('1004.jpg');
position:fixed;
width:100%;
text-align:center;​
top:-20px;
}
body{background-image:url('1015.jpg');

margin:0;padding:0;}



footer{
background-image:url('1004.jpg');
position:fixed;bottom:0;
left:0;
font-size:30px;
width:100%;
text-align:center;
}
font5
{
font-family:Helvetica;
font-weight:100;
font-size:30px;
float:center;
text-align:center;
padding:5px;
}
a:link
{
color:black;
text-decoration:none;
}
a:visited
{
color:black;
text-decoration:none;
}
img#img1
{

padding:10px;
border: 5px solid #555;

}

table
{
align:center;
}